
header {
    background-color: black;
    color: white; 
    text-align: center;
}

.firstdiv {
    
    background-color: whitesmoke; 
    position: relative;
}

.seconddiv {
    background-color: whitesmoke; 
    position: relative;
}

#loanButton {
    background-color: red; 
}

#bankButton {
    background-color: yellow;
}

#workButton {
    background-color: blue;
    color: white;
}

#buyButton {
    background-color: lightskyblue; 
}

#repayButton {
    background-color: darkred; 
    color: white;
    display: flex;
}

#laptopSelector {
    height: 40px;   
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 5px #999;
    margin: 5px; 
    justify-content: center;
  }
